.debit, .credit {
  font-size: 0.6rem;
}

.hover {
  position: fixed;
  display: none;
  background-color: white;
  border: 1px solid gray;

  .show {
    display: initial;
  }
}

rect.focused {
  // transform:scale(2, 1.5);
  fill: 'aliceblue';
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}
