.highlight:hover,
.highlight.probable:not(:hover) {
  background-color: rgba(0, 150, 250, 0.3);
}
.highlight.probable {
    border: 1px dotted rgba(250, 10, 100, 0.8);
}

.hidden {
    display: none;
}

.highlight:not(.highlight.probable):hover > .btn.hidden {
    display: initial;
}

.level-1 {
  margin-left: 16px;
}
.level-2 {
  margin-left: 32px;
}
.level-3 {
  margin-left: 64px;
}
.level-4 {
  margin-left: 128px;
}
.level-5 {
  margin-left: 256px;
}
